<header class="site-header">
  <a class="logo" href="{{ routes.root_url }}">{{ shop.name }}</a>
  <nav class="site-nav">
    <a href="{{ routes.root_url }}">Home</a>
    <a href="/collections/all">Shop</a>
    <a href="/pages/contact">Contact</a>
  </nav>
</header>
